extends main

block content
	div(class="row profile rounded mx-auto my-5 slideanim")
		div(class="col-md-12 p-4 ")
			h1(class="") Pokemon Starter Selection
			p(class="") This is a simple quiz with the goal of determining your favorite starter pokemon.
			p Note: This site uses cookies to operate.
			a(type='button', class='btn btn-success btn-lg btn-block', href="/pokemon/start/") Start!