block nav
	nav(class="navbar navbar-expand-mm bg-dark navbar-dark p-2")
			a(class="navbar-brand p-2 rounded", href="/") shadowlerone
			button(class="navbar-toggler", type="button", data-toggle="collapse" , data-target="#collapsibleNavbar")
				span(class="navbar-toggler-icon")
			div(class="collapse navbar-collapse", id="collapsibleNavbar")
				ul(class="navbar-nav")
					li(class="nav-item rounded p-2")
						a(class="nav-link rounded p-2", href="/socials") socials
					li(class="nav-item rounded p-2")
						a(class="nav-link rounded p-2", href="/discography") discography