block nav 
	nav.navbar.navbar-expand-lg.bg-dark.navbar-dark.p-2
		a(class="navbar-brand p-2 rounded", href="/") shadowlerone
		//- a.navbar-brand.rounded(href="/ac")
		//- 	img.d-inline-block.align-top(src="/images/animalcrossing/island logo.svg" alt="Umbralucis", height="70px", width="70px")
		button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup" aria-expanded="false", aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarNavAltMarkup.collapse.navbar-collapse
			.navbar-nav 
				a.nav-item.nav-link.rounded.active(href="/ac") home 
				a.nav-item.nav-link.rounded(href="/ac/feed") feed
				a.nav-item.nav-link.rounded(href="/ac/profiles") profiles
				